/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:20px;
	padding:5px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1.2em;
    line-height: 1.4em;
	
}




body {
	pt-sans-narrow-regular {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 400;
	font-style: normal;
	
}
}

ul {
	list-style: none;
	padding-left: 0px;
}

a {
	color: #0000cd;
}
figure {
	margin: 0px;
}
	a:hover {
		color: #cccccc;
	}
#bio {
	header{border: 4px solid red}
	header{margin: 40px}
	h1 {margin: 12px}
	background: #90d5ff;
	font-color: #111111;
h1 {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 5px;
}
p {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}	

}

#index {
	h1

{
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 5px;
}
	header

{
	border: 4px solid red
}

header {
	margin: 40px
}
	background: #90d5ff;
}




#assignments {
	h1
{
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 5px;
}
header {
	border: 4px solid red
}

header {
	margin: 40px
}

background: #5a93db;
}
	font-color:#000000;
}